:root {
    --dark-blue: #004f80;
    --blue: #0272ba;
    --light-blue: #008ee6;
    --orange: #F37043;
    --light-orange: #ff8258;
    --clay: #99738E;
    --grey: #464646;
    --dark-grey: #2d2d2d;
}

html {
    scroll-behavior: smooth;
}

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    transition: 1s;
}

.nav-link {
    transition: 0.4s;
}

.nav-link:hover {
    color: var(--orange);
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-right: 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.nav-logo {
    width: 10%;
    margin-right: auto;
}

.scrolled {
    background-color: var(--dark-blue);
    color: var(--dark-grey);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.background {
    background-color: var(--blue);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    padding: 150px 0px 300px;
}

.welcome {
    padding-top: 120px;
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
}

.title {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.date {
    color: white;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    background-color: var(--light-blue);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--orange);
    border-radius: 15px;
}

.mission-title {
    padding-top: 100px;
    font-size: 60px;
    margin-bottom: 20px;
    color: var(--dark-grey);
    text-align: center;
}

.mission-description {
    color: var(--grey);
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    position: relative;
    padding-bottom: 100px;
}

.container-parent {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 0;
    background-color: var(--blue);
    padding: 0;
}

.container-rect {
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    position: absolute;
    top: 0;
    z-index: -1;
}

.container-center {
    width: 80%;
    background-color: white;
    position: relative;
    padding: 20px;
    margin: 0 auto;
}

.features {
    background-color: var(--blue);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding-bottom: 100px;
    padding-top: 140px;
}

.feature h2,
p {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    color: white;
}

.feature h2 {
    font-size: 50px;
    margin-bottom: 15px;
}

.feature p {
    font-size: 24px;
    padding-bottom: 60px;
}

.info-section {
    background-color: white;
    padding: 80px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-title {
    font-size: 110px;
    color: var(--orange);
    padding-right: 100px;
}

.info-header {
    color: var(--dark-grey);
    font-size: 40px;
    font-style: italic;
}

.info-text {
    font-size: 18px;
    color: var(--grey);
}

.agenda-section {
    background-color: var(--orange);
    padding: 80px 0;
}

.agenda-title {
    font-size: 100px;
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.agenda-days {
    display: flex;
    justify-content: space-around;
}

.agenda-day {
    width: 45%;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    color: var(--dark-grey);
}

.agenda-day-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 0;
    border-radius: 20px;
}

.agenda-day-title,
.agenda-item,
.time,
.activity {
    position: relative;
    z-index: 1;
}

.agenda-item {
    margin-top: 20px;
}

.time {
    font-size: 24px;
    color: var(--orange);
    font-weight: bold;
}

.activity {
    font-size: 18px;
    color: var(--grey);
    margin-bottom: 20px;
    margin-top: 5px;
}

.sponsors-section {
    background-color: var(--blue);
    padding: 80px 0;
}

.sponsors-title {
    font-size: 100px;
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.sponsors-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sponsor {
    text-align: center;
    width: 33%;
    margin-bottom: 20px;
}

.sponsor img {
    width: 200px;
    height: 160px;
    margin-bottom: 30px;
}

.sponsor-name {
    font-size: 35px;
    color: white;
}

.contact-section {
    background-color: var(--dark-blue);
    padding: 80px 0;
    text-align: center;
}

.contact-title {
    font-size: 60px;
    color: white;
    margin-bottom: 40px;
}

.contact-email {
    font-size: 24px;
    color: white;
}
